.edit-page {
    position: absolute;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    .ep-leftmenu {
        width: 200px;
        height: 100%;
        background-color: #ccc;
    }
}