.ant-modal-body{
    padding: 12px 18px;
    .ant-form {
        padding: 0;
    }
}
.ant-form {
    padding: 6px;
    .ant-form-item {
        display: flex;
        justify-content: center;
    }
}
.ant-radio-group{
    padding-right: 15px;
}