@import '../../styles/var.scss';
.ant-layout {
    height: 100%;
    .logo {
        display: inline-block;
        width: 220px;
        height: 50px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        background-image: url(../../styles/logo.png);
        background-repeat:no-repeat;
        background-size: 90%;
    }
    .ant-layout-header {
        position: relative;
        padding: 0;
        background-color: $header-color;
        height: $header-height;
        line-height: $header-height;
        color: #fff;
        .fixed-menu-bar {
            position: absolute;
            top:0;
            left:220px;
            width: 80px;
            height: $header-height;
            border-left: 1px solid darken($color:$header-color, $amount: 10%);
            border-right: 1px solid darken($color:$header-color, $amount: 10%);
            .fixed-menu {
                position: relative;
                width: 80px;
                text-align: center;
                height: $header-height;
                line-height: $header-height;
                cursor: pointer;
                &.active {
                    background-color: #a0adbb;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-bottom-color: #fff;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
        .opened-menu-bar {
            position: absolute;
            left: 300px;
            top: 0;
            bottom: 0;
            right: 150px;
            .menu-bar-wrap {
                position: absolute;
                top: 0;
                right: 50px;
                bottom: 0;
                left: 0;
                overflow: hidden;
                .menu-bar-container {
                    position: relative;
                    width: 3000px;
                    height: 100%;
                    transition: left 0.5s ease
                }
            }
            .menu-bar-ctrl {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50px;
                padding: 0 1px;
                .ctrl-enable {
                    cursor: pointer;
                    color: #fff;
                }
                .ctrl-disable {
                    cursor: default;
                    color: #888;
                }
            }
            .menu {
                position: relative;
                float: left;
                background-color: darken($color:$header-color, $amount: 5%);
                color: #fff;
                text-align: center;
                min-width: 80px;
                max-width: 140px;
                height: 100%;
                border-right: 1px solid darken($color:$header-color, $amount: 10%);
                box-sizing: border-box;
                cursor: pointer;
                .close {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    color: rgba(250, 250, 250, .8);
                    font-size: 10px;
                    padding: 2px;
                    border-radius: 10px;
                    transition: transform 0.2s, background-color 0.2s;
                    &:hover {
                        background-color: red;
                        transform: rotate(90deg);
                    }
                }
                div {
                    padding: 0 15px;
                }
                &.active {
                    background-color: #a0adbb;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-bottom-color: #fff;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
        .head-toolbar {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 150px;
            color: #fff;
            .tool {
                width: 30px;
                text-align: center;
                line-height: $header-height;
                cursor: pointer;
                &:hover {
                    background-color: darken($color: $header-color, $amount: 5%);
                }
            }
            .tool-user {
                display: inline-block;
                width: 90px;
            }
        }
    }
    .ant-layout-content {
        overflow-y: auto;
    }
}

.trigger-left {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 40%;
    height: 100px;
    line-height: 100px;
    width: 14px;
    cursor: pointer;
    color: #fff;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: $header-color;
    &:hover {
        background-color: darken($header-color, $amount: 10%)
    }
}

.trigger-right {
    position: absolute;
    z-index: 9999;
    right: -14px;
    top: 40%;
    height: 100px;
    line-height: 100px;
    width: 14px;
    cursor: pointer;
    color: #fff;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: $header-color;
    &:hover {
        background-color: darken($header-color, $amount: 10%)
    }
}

.ant-popover-inner-content {
    padding: 0;
    .menu {
        position: relative;
        padding: 5px 10px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                background-color: red;
                color: #fff;
            }
        }
        &:last-child {
            border: none;
        }
        &.active {
            background-color: $header-color;
            color: #fff;
        }
    }
}